@font-face
  font-family: 'Circe-Bold'
  src: url('../fonts/Circe-Bold.otf')
$circeB = 'Circe-Bold'
@font-face
  font-family: 'Circe-ExtraBold'
  src: url('../fonts/Circe-ExtraBold.otf')
$circeEB = 'Circe-ExtraBold'
@font-face
  font-family: 'Circe-Regular'
  src: url('../fonts/Circe-Regular.otf')
$circeR = 'Circe-Regular'
@font-face
  font-family: 'Circe-Light'
  src: url('../fonts/Circe-Light.otf')
$circeL = 'Circe-Light'
@font-face
  font-family: 'Circe-ExtraLight'
  src: url('../fonts/Circe-ExtraLight.otf')
$circeEL = 'Circe-ExtraLight'
@font-face
  font-family: 'SwiftelBaseDEMO'
  src: url('../fonts/SwiftelBaseDEMO.ttf')
$swift = 'SwiftelBaseDEMO'