$wrapperWidth = 1860px
$containerWidth = 1170px
//fonts settings
$titleColor = #282828
$titleSize = 36px
$textColor = #8b8b8b
$textSize = 20px
$hoverColor = #9ed24d
//circle sizes
$circleBig = 380px
$circleMedium = 380px
$circleSmall = 380px