.about
	centering()
	margin-top 145px
	margin-bottom 145px
	&__box
		display flex
		flex-flow row wrap
	&__article
		flex 1 0 300px
		&-top
			padding 100px 0 100px 99px
			flex 1 0 420px
		&-bottom
			padding 100px 100px 100px 0
	&__title
		font 36px $circeB,Arial,sans-serif
		margin-bottom 20px
	&__text
		font 20px $circeR ,Arial,sans-serif
		color $textColor
		margin-bottom 20px
	&__img
		align-self baseline
		&-wrapper
			display flex
			justify-content center
			flex 1 0 300px
		&-top
			margin-left 0
		&-bottom
			margin-top 0
			margin-right 0