#lands
	margin-top 155px
	background transparent url('../img/bg_forest.png') 0 0 no-repeat fixed
.lands
	centering()
.hause-card
	display flex
	flex-flow row wrap
	padding 26.5px 55px
	&__img
		align-self baseline
		max-width 100%
		height auto
		&_wrapper
			flex 1 0 400px
			display flex
			justify-content center
	&__description
		flex 1 0 400px
		padding 0 60px
	&__title
		margin 20px 0
.land-card
	padding 26.5px 0
	display flex
	align-items center
i.arrow-45deg
	display inline-block
	background url('../img/arr.png') 0 0 no-repeat
	size 14px
	background-size cover