.mCS-sq-bar.mCSB_scrollTools
	top 51px
	right 53.5px
	.mCSB_draggerRail
		width 12px
		border-radius 10px
		background-color #e6e6e6
	.mCSB_dragger_bar
		width 12px
		border-radius 10px
		background-color #b3b3b3
	.mCSB_dragger:hover .mCSB_dragger_bar,.mCSB_dragger:active .mCSB_dragger_bar,.mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar
		background-color alpha(#b3b3b3, .7)
	.mCSB_draggerContainer
		height 75%