html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'Circe-Bold';
  src: url("../fonts/Circe-Bold.otf");
}
@font-face {
  font-family: 'Circe-ExtraBold';
  src: url("../fonts/Circe-ExtraBold.otf");
}
@font-face {
  font-family: 'Circe-Regular';
  src: url("../fonts/Circe-Regular.otf");
}
@font-face {
  font-family: 'Circe-Light';
  src: url("../fonts/Circe-Light.otf");
}
@font-face {
  font-family: 'Circe-ExtraLight';
  src: url("../fonts/Circe-ExtraLight.otf");
}
@font-face {
  font-family: 'SwiftelBaseDEMO';
  src: url("../fonts/SwiftelBaseDEMO.ttf");
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1860px;
  margin: 0 auto;
}
.section-title {
  color: #282828;
  font: 28px 'Circe-Bold', Arial, sans-serif;
  text-transform: uppercase;
}
.section-title_popup {
  margin: 20px 20px 20px 20px;
  text-transform: none;
}
.section-text {
  color: #8b8b8b;
  font: 20px 'Circe-Regular', Arial, sans-serif;
}
.section-text_calendar {
  color: #000;
  font-size: 16px;
  padding: 0 90px;
}
.btn {
  font: 16px 'Circe-Bold', Arial, sans-serif;
  background-color: transparent;
  padding: 10px 15px;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  text-decoration: none;
}
.btn_reserve,
.btn__room-content {
  font-size: 21px;
  padding: 8px 13px;
}
.btn:hover {
  background-color: #9ed24d;
  border: 2px solid #9ed24d;
}
.btn__to-top {
  display: none;
  padding: 1px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: rgba(0,0,0,0.7);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  width: 58px;
  height: 58px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #1a1a18 url("../img/arrow_down.png") 0 0 no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  box-shadow: 0 0px 10px rgba(0,0,0,0.3);
}
.btn__to-top:hover {
  background-color: #9ed24d;
}
.btn__room-content {
  padding: 8px 43.5px;
  margin-top: 10px;
}
.btn__mobile_visible {
  display: none;
}
.about {
  max-width: 1170px;
  margin: 0px auto;
  margin-top: 145px;
  margin-bottom: 145px;
}
.about__box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.about__article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 300px;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px;
}
.about__article-top {
  padding: 100px 0 100px 99px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 420px;
  -ms-flex: 1 0 420px;
  flex: 1 0 420px;
}
.about__article-bottom {
  padding: 100px 100px 100px 0;
}
.about__title {
  font: 36px 'Circe-Bold', Arial, sans-serif;
  margin-bottom: 20px;
}
.about__text {
  font: 20px 'Circe-Regular', Arial, sans-serif;
  color: #8b8b8b;
  margin-bottom: 20px;
}
.about__img {
  -webkit-align-self: baseline;
  align-self: baseline;
  -ms-flex-item-align: baseline;
}
.about__img-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 300px;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px;
}
.about__img-top {
  margin-left: 0;
}
.about__img-bottom {
  margin-top: 0;
  margin-right: 0;
}
#popupCalendar .reserved {
  background-color: #83d33c;
}
#popupCalendar .discount {
  background-color: #f1d6a1;
}
#popupCalendar .inactive {
  border: 2px solid #9c8686;
}
.popup {
  max-width: 980px;
  margin: auto;
}
.calendar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.month {
  width: 140px;
  margin: 0 23px 23px 0;
}
.month__row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 0;
}
.month__name {
  font: 16px 'Circe-Bold', Arial, sans-serif;
  background-color: #242424;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.month__calendar {
  font-size: 0;
}
.month__weekday {
  display: inline-block;
  font: 16px 'Circe-Bold', Arial, sans-serif;
  text-align: center;
  color: #242424;
  width: 20px;
  height: 20px;
}
.month__weekday_weekend {
  color: #dd5264;
}
.marker {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.marker__marker {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 25px;
}
.marker__square {
  width: 25px;
  height: 16px;
  margin-right: 4px;
}
.marker__square.inactive {
  width: 23px;
  height: 14px;
}
.marker__description {
  font: 14px 'Circe-Light', Arial, sans-serif;
}
#cards {
  margin-top: 214px;
  margin-bottom: 95px;
}
.cards {
  max-width: 1170px;
  margin: 0px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.card {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 400px;
  -ms-flex: 1 0 400px;
  flex: 1 0 400px;
  color: #fff;
  text-align: center;
  margin: 0 3px 3px 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
/*	
	&:hover
		transform rotateY(180deg)
	*/
}
.card_lands-right {
  z-index: 0;
}
.card_lands-left {
  margin-right: -75px;
  z-index: 1;
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.card__container {
  -webkit-perspective: 700;
  -moz-perspective: 700;
  -ms-perspective: 700;
  perspective: 700;
  width: auto;
  height: 389px;
  overflow: hidden;
}
.card__container_lands-left {
  width: 583px;
  height: 440px;
}
.card__container_lands-right {
  width: 662px;
  height: 496px;
}
.card__container_lands-right img {
  paddin: 92px 105px;
}
.card__front,
.card__back {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card__front {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card__back {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 410px;
  height: 219px;
  padding: 85px;
  background: rgba(0,0,0,0.7);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card__title {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  z-index: 1;
  background: rgba(0,0,0,0.7);
  padding: 72px 123px;
}
.card__title-text {
  margin: 10px 0;
  font: 30px 'Circe-Bold', Arial, sans-serif;
}
.card__title-text_lands {
  text-transform: uppercase;
}
.card__text {
  font: 20px 'Circe-Regular', sans-serif;
}
.card__button {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  padding: 20px 40px;
  cursor: pointer;
  font: 16px 'Circe-Regular', Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
.card__button:hover {
  background-color: #fff;
  color: #000;
}
.card:hover > .card_front {
  background: #f00;
}
#gallery {
  overflow: visible;
}
.description {
  max-width: 1170px;
  margin: 0px auto;
  padding: 20px;
}
.description h3,
.description p {
  text-align: center;
  margin: 20px auto;
}
.description h3 {
  font: 28px 'Circe-Bold', Arial, sans-serif;
  color: #282828;
  max-width: 700px;
}
.description p {
  font: 20px 'Circe-Regular', Arial, sans-serif;
  color: #8b8b8b;
  max-width: 977px;
}
.carousel-slick {
  margin: auto;
  max-width: 1170px;
}
.carousel-slick img {
  width: 370px;
  height: 330px;
}
section#carousel {
  width: 800px;
  height: 495px;
  margin: 0 auto;
  position: relative;
}
section#carousel span {
  position: relative;
  margin: 0 auto;
  left: 315px;
  top: -20em;
  z-index: 3;
}
section#carousel span #prev,
section#carousel span #next {
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  position: relative;
  width: 83px;
  height: 86px;
  background-color: rgba(0,0,0,0.7);
}
section#carousel span #prev {
  right: 315px;
}
section#carousel span #next {
  left: 315px;
}
.carousel {
  max-width: 1000px;
  height: 495px;
}
.carousel li {
  width: 800px;
  height: 495px;
  background: #333;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.carousel li img {
  width: 100%;
  height: 100%;
}
.carousel li p {
  color: #fff;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}
.carousel .items {
  position: absolute;
}
.carousel .main-pos {
  margin-left: 0em;
  z-index: 3;
/*background-image: url('http://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}
.carousel .left-pos {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  margin-left: -375px;
  z-index: 2;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}
.carousel .back-pos {
  margin-left: 0em;
  opacity: 0.05;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
  filter: alpha(opacity=5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.carousel .right-pos {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  margin-left: 375px;
  z-index: 2;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}
.dots {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: -80px;
}
.dots .dot {
  margin: 0 2px;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #bfbfbf;
}
.dots .dot.active {
  background: #bfbfbf;
}
footer {
  max-width: 1170px;
  margin: 0px auto;
}
.map {
  width: 100%;
  height: 626px;
}
.widget {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 70px;
}
.widget__wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 400px;
  -ms-flex: 1 0 400px;
  flex: 1 0 400px;
}
.widget__title,
.widget h2 {
  font: 20px 'Circe-Regular', Arial, sans-serif;
  color: #282828;
  padding: 15px 15px 15px 0;
}
.widget__text,
.widget div {
  font: 16px 'Circe-Light', Arial, sans-serif;
  color: #8b8b8b;
  padding: 0 59px 59px 0;
}
address {
  border-top: 1px solid #e1e1e1;
}
.contact {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 980px) {
  .contact {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 0 10vw;
  }
}
.contact__info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 66px 0;
  font: 24px 'Circe-Regular', Arial, sans-serif;
  color: #6d6d6d;
}
.contact__info .fa {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  background: #000;
  width: 39px;
  height: 39px;
  margin-right: 18px;
  text-align: center;
}
@media screen and (max-width: 980px) {
  .contact__info {
    padding: 20px 0;
  }
}
.intro {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: transparent url("../img/bg.jpg") 0 0 no-repeat;
  width: 100%;
  height: 100vh;
  max-height: 858px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  overflow: hidden;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
}
.circle-big,
.circle-medium,
.circle-small {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.circle-big,
.circle-medium {
  border: 1px solid #fff;
}
.circle-big {
  width: 380px;
  height: 380px;
  left: calc(100vw/ 2 - 380px/2);
  top: calc(100vh / 2 - 380px/2);
  -webkit-animation: pulse 6s linear 4s infinite;
  -moz-animation: pulse 6s linear 4s infinite;
  -o-animation: pulse 6s linear 4s infinite;
  -ms-animation: pulse 6s linear 4s infinite;
  animation: pulse 6s linear 4s infinite;
}
.circle-medium {
  width: 380px;
  height: 380px;
  left: calc(100vw/ 2 - 380px/2);
  top: calc(100vh / 2 - 380px/2);
  -webkit-animation: pulse 6s linear 2s infinite;
  -moz-animation: pulse 6s linear 2s infinite;
  -o-animation: pulse 6s linear 2s infinite;
  -ms-animation: pulse 6s linear 2s infinite;
  animation: pulse 6s linear 2s infinite;
}
.circle-small {
  width: 380px;
  height: 380px;
  left: calc(100vw/ 2 - 380px/2);
  top: calc(100vh / 2 - 380px/2);
  border: 2px solid #fff;
  -webkit-animation: pulse 6s linear 0s infinite;
  -moz-animation: pulse 6s linear 0s infinite;
  -o-animation: pulse 6s linear 0s infinite;
  -ms-animation: pulse 6s linear 0s infinite;
  animation: pulse 6s linear 0s infinite;
}
.circle-small-wrapper {
  position: absolute;
  left: calc(100vw / 2 - 65px * 1.5 / 2);
  top: calc(100vh / 2 - -380px / 2);
  color: #000;
  text-decoration: none;
  z-index: 1;
}
.circle-small-arrow {
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  background: #1a1a18 url("../img/arrow_down.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: updown 0.5s linear 1s infinite alternate;
  -moz-animation: updown 0.5s linear 1s infinite alternate;
  -o-animation: updown 0.5s linear 1s infinite alternate;
  -ms-animation: updown 0.5s linear 1s infinite alternate;
  animation: updown 0.5s linear 1s infinite alternate;
}
.circle-small-arrow:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.site-title {
  color: #fff;
  text-align: center;
}
.site-title_main {
  font: 135px 'SwiftelBaseDEMO', sans-serif;
}
.site-title_subtitle {
  font: 69px 'Circe-Bold', sans-serif;
}
.site-title_subtitle-1 {
  font: 25px 'Circe-Bold', sans-serif;
}
.site-title_subtitle-2 {
  font: 17px 'Circe-Light', sans-serif;
}
@-moz-keyframes pulse {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    border: 2px solid #fff;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    border-width: 0.5px;
  }
  to {
    left: calc(100vw/ 2 - 1368px/2);
    top: calc(100vh / 2 - 1368px/2);
    width: 1368px;
    height: 1368px;
    max-width: 1860px;
    border: 1 solid #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pulse {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    border: 2px solid #fff;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    border-width: 0.5px;
  }
  to {
    left: calc(100vw/ 2 - 1368px/2);
    top: calc(100vh / 2 - 1368px/2);
    width: 1368px;
    height: 1368px;
    max-width: 1860px;
    border: 1 solid #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes pulse {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    border: 2px solid #fff;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    border-width: 0.5px;
  }
  to {
    left: calc(100vw/ 2 - 1368px/2);
    top: calc(100vh / 2 - 1368px/2);
    width: 1368px;
    height: 1368px;
    max-width: 1860px;
    border: 1 solid #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulse {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    border: 2px solid #fff;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    border-width: 0.5px;
  }
  to {
    left: calc(100vw/ 2 - 1368px/2);
    top: calc(100vh / 2 - 1368px/2);
    width: 1368px;
    height: 1368px;
    max-width: 1860px;
    border: 1 solid #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes pulseTwo {
  from {
    width: 380px;
    height: 380px;
    left: calc(100vw/ 2 - 380px/2);
    top: calc(100vh / 2 - 380px/2);
  }
  to {
    width: 1860px;
    height: 1860px;
    left: calc(100vw/ 2 - 1860px/2);
    top: calc(100vh / 2 - 1860px/2);
  }
}
@-webkit-keyframes pulseTwo {
  from {
    width: 380px;
    height: 380px;
    left: calc(100vw/ 2 - 380px/2);
    top: calc(100vh / 2 - 380px/2);
  }
  to {
    width: 1860px;
    height: 1860px;
    left: calc(100vw/ 2 - 1860px/2);
    top: calc(100vh / 2 - 1860px/2);
  }
}
@-o-keyframes pulseTwo {
  from {
    width: 380px;
    height: 380px;
    left: calc(100vw/ 2 - 380px/2);
    top: calc(100vh / 2 - 380px/2);
  }
  to {
    width: 1860px;
    height: 1860px;
    left: calc(100vw/ 2 - 1860px/2);
    top: calc(100vh / 2 - 1860px/2);
  }
}
@keyframes pulseTwo {
  from {
    width: 380px;
    height: 380px;
    left: calc(100vw/ 2 - 380px/2);
    top: calc(100vh / 2 - 380px/2);
  }
  to {
    width: 1860px;
    height: 1860px;
    left: calc(100vw/ 2 - 1860px/2);
    top: calc(100vh / 2 - 1860px/2);
  }
}
@-moz-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-o-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes updown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
#lands {
  margin-top: 155px;
  background: transparent url("../img/bg_forest.png") 0 0 no-repeat fixed;
}
.lands {
  max-width: 1170px;
  margin: 0px auto;
}
.hause-card {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 26.5px 55px;
}
.hause-card__img {
  -webkit-align-self: baseline;
  align-self: baseline;
  -ms-flex-item-align: baseline;
  max-width: 100%;
  height: auto;
}
.hause-card__img_wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 400px;
  -ms-flex: 1 0 400px;
  flex: 1 0 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.hause-card__description {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 400px;
  -ms-flex: 1 0 400px;
  flex: 1 0 400px;
  padding: 0 60px;
}
.hause-card__title {
  margin: 20px 0;
}
.land-card {
  padding: 26.5px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
i.arrow-45deg {
  display: inline-block;
  background: url("../img/arr.png") 0 0 no-repeat;
  width: 14px;
  height: 14px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.nav {
  width: 100%;
  background: #fff;
  z-index: 999;
  top: 0;
  left: 0;
  margin: 70px 0 120px;
  border-bottom: 3px solid #e2e2e2;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.nav.fixed {
  position: fixed;
  margin: 0;
}
.nav.fixed_more ul {
  height: 75px;
}
.nav.fixed_more ul ul {
  height: 0;
}
.nav.fixed_more li {
  height: 75px;
}
.nav.fixed_more a {
  line-height: 75px;
}
.nav__navbar {
  cursor: pointer;
  display: none;
  margin: 10px;
  background-color: transparent;
  border: 0;
  outline: none;
}
.nav__navbar-1,
.nav__navbar-2,
.nav__navbar-3 {
  height: 5px;
  background-color: #9ed24d;
  display: block;
  margin: 6px 0;
  width: 35px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__navbar_change .nav__navbar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -moz-transform: rotate(-45deg) translate(-9px, 6px);
  -o-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.nav__navbar_change .nav__navbar-2 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.nav__navbar_change .nav__navbar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -moz-transform: rotate(45deg) translate(-8px, -8px);
  -o-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  max-width: 1170px;
  margin: 0px auto;
  height: 125px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.nav ul ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 500%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 100%;
  height: 0;
  padding-top: 3px;
  -webkit-transition: all ease-out 0.5s 0.2s;
  -moz-transition: all ease-out 0.5s 0.2s;
  -o-transition: all ease-out 0.5s 0.2s;
  -ms-transition: all ease-out 0.5s 0.2s;
  transition: all ease-out 0.5s 0.2s;
}
.nav ul ul a {
  padding: 0 23px;
  background-color: #fff;
}
.nav ul ul:hover + a {
  color: #9ed24d;
  border-bottom: 3px solid #9ed24d;
}
.nav ul ul:first-child {
  left: 0;
}
.nav li {
  position: relative;
  background-color: #fff;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  -ms-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.nav li:hover ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 500%;
  height: 125px;
  max-width: 1170px;
}
.nav li:last-child:hover {
  color: #fff;
}
.nav li:last-child ul {
  left: auto;
  right: -1px;
  top: auto;
  width: 460px;
}
.nav li:last-child a i {
  margin: 0 5px;
  padding: 5px;
}
.nav li:last-child a:hover i:nth-child(1) {
  background-color: #9ed24d;
  color: #fff;
}
.nav li:last-child a:hover i:nth-child(2) {
  background-color: #9ed24d;
  color: #fff;
}
.nav a {
  cursor: pointer;
  display: inline-block;
  font: 20px 'Circe-Bold', sans-serif;
  color: #282828;
  width: 100%;
  height: 100%;
  line-height: 125px;
  padding: 0 13px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition-property: border-bottom-color;
  -moz-transition-property: border-bottom-color;
  -o-transition-property: border-bottom-color;
  -ms-transition-property: border-bottom-color;
  transition-property: border-bottom-color;
}
.nav a:hover {
  color: #9ed24d;
  border-bottom: 3px solid #9ed24d;
}
.entry-content.popup .section-title_calendar {
  display: block;
}
.mfp-close {
  right: 54px;
  font: 58px 'Times New Roman', serif;
}
.mfp-close-btn-in .mfp-close {
  color: #f00;
}
.popup {
  max-width: 980px;
  margin: auto;
}
.popup__header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.popup__header a {
  color: #000;
}
.popup .section-title_calendar {
  display: none;
}
.popup table {
  width: 100%;
  border-collapse: collapse;
}
.popup caption,
.popup h2 strong {
  text-align: left;
  color: #282828;
  font: 28px 'Circe-Bold', Arial, sans-serif;
  text-transform: uppercase;
  margin: 20px 20px 20px 20px;
  text-transform: none;
}
.popup thead {
  border-bottom: 1px solid #000;
}
.popup th {
  font: 20px 'Circe-Bold', Arial, sans-serif;
}
.popup td {
  font: 16px 'Circe-Light', Arial, sans-serif;
}
.popup th,
.popup td {
  text-align: center;
  vertical-align: middle;
  width: 25%;
}
.popup-close {
  position: absolute;
  right: 3.8vw;
  display: none;
}
.popup-wrapper {
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  overflow-y: scroll;
  background-color: #fff;
}
.popup-wrapper_calendar .popup .section-title_calendar {
  display: block;
}
.popup-wrapper .jspVerticalBar {
  width: 13px;
  top: 10vh;
  right: 5vw;
  height: 70%;
}
.popup-wrapper .jspDrag {
  background-color: #b3b3b3;
}
.popup-wrapper .jspTrack {
  border-color: #e6e6e6;
}
.connected-carousels .stage {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: relative;
}
.connected-carousels .stage-aside {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 300px;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px;
  padding: 30px;
  background: #242424;
}
.connected-carousels .stage-aside__title {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
  font: 20px 'Circe-Bold', sans-serif;
  color: #dfdfdf;
}
.connected-carousels .stage-aside__list {
  padding-left: 20px;
}
.connected-carousels .stage-aside__list .mailto {
  font: 20px 'Circe-Regular', sans-serif;
  color: #dfdfdf;
}
.connected-carousels .stage-aside__list .fa {
  text-decoration: none;
  margin-right: 20px;
  color: #999;
}
.connected-carousels .stage-aside__item {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  margin-bottom: 10px;
  font: 20px 'Circe-Regular', sans-serif;
  color: #dfdfdf;
}
.connected-carousels .stage-aside__item_address {
  font: 16px 'Circe-Light', sans-serif;
}
.connected-carousels .stage-aside__item_address .fa {
  margin-right: 28px;
}
.connected-carousels .stage-aside__item:hover {
  color: #9ed24d;
}
.connected-carousels .stage-aside__item:hover .fa {
  color: #9ed24d;
}
.connected-carousels .stage-aside__item:hover .mailto {
  color: #9ed24d !important;
}
.connected-carousels .stage-aside__ico {
  width: 27px;
}
.connected-carousels .navigation {
  width: auto;
  position: relative;
}
.connected-carousels .carousel-popup {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3 0 600px;
  -ms-flex: 3 0 600px;
  flex: 3 0 600px;
  overflow: hidden;
  position: relative;
}
.connected-carousels .carousel-popup ul {
  width: 20000em;
  position: relative;
  list-style-type: none;
  margin: 0;
}
.connected-carousels .carousel-popup li {
  float: left;
}
.connected-carousels .carousel-stage {
  height: 400px;
  margin-right: 5px;
  -webkit-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}
.connected-carousels .carousel-stage img {
  width: 656.25px;
  height: 400px;
}
.connected-carousels .carousel-navigation ul {
  margin-top: 2.5px;
}
.connected-carousels .carousel-navigation li {
  cursor: pointer;
}
.connected-carousels .carousel-navigation li img {
  display: block;
  width: 190px;
  height: 120px;
  border: 2.5px solid #fff;
}
.connected-carousels .carousel-navigation li.active img {
  border-color: #ccc;
}
.connected-carousels .prev-stage,
.connected-carousels .next-stage {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  top: 0;
  width: 305px;
  height: 410px;
  font-size: 40px;
  color: #9ed24d;
}
.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
  display: none;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4e443c;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}
.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
  display: block;
}
.connected-carousels .prev-stage {
  left: 0;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.connected-carousels .prev-stage span {
  left: 20px;
}
.connected-carousels .next-stage {
  right: 325px;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.connected-carousels .next-stage span {
  right: 20px;
}
.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
  display: none;
}
.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
  display: block;
  position: absolute;
  text-decoration: none;
  color: #9ed24d;
}
.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  cursor: default;
}
.connected-carousels .prev-navigation {
  left: -30px;
  top: 30px;
}
.connected-carousels .next-navigation {
  right: -31px;
  top: 30px;
}
.room-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.room-content__col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 300px;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px;
}
.room-content__col_double {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.description-block__wrapper {
  padding: 30px;
}
.description-block__wrapper .section-title {
  margin: 40px 0;
}
.description-block li {
  display: none;
  padding: 20px 0;
}
.description-block li.active {
  display: block;
}
.rooms-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 40px 0;
}
.rooms-nav__item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 112px;
  -ms-flex: 1 0 112px;
  flex: 1 0 112px;
}
.rooms-nav__link {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #282828;
  font: 16px 'Circe-Bold', sans-serif;
  text-align: center;
  text-decoration: none;
  border: 2px solid #282828;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.rooms-nav__link:hover,
.rooms-nav__link_active {
  color: #fff;
  border: 2px solid #9ed24d;
  background-color: #9ed24d;
}
.mCS-sq-bar.mCSB_scrollTools {
  top: 51px;
  right: 53.5px;
}
.mCS-sq-bar.mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #e6e6e6;
}
.mCS-sq-bar.mCSB_scrollTools .mCSB_dragger_bar {
  width: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #b3b3b3;
}
.mCS-sq-bar.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-sq-bar.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-sq-bar.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(179,179,179,0.7);
}
.mCS-sq-bar.mCSB_scrollTools .mCSB_draggerContainer {
  height: 75%;
}
@media screen and (min-width: 1860px) {
  .wrapper {
    padding: 30px;
    -webkit-border-radius: 110px;
    border-radius: 110px;
  }
  .circle-big {
    left: calc(1860px/ 2 - 380px/2);
    top: calc(858px / 2 - 380px/2);
  }
  .circle-medium {
    left: calc(1860px/ 2 - 380px/2);
    top: calc(858px / 2 - 380px/2);
  }
  .circle-small {
    left: calc(1860px/ 2 - 380px/2);
    top: calc(858px / 2 - 380px/2);
  }
  .circle-small-wrapper {
    left: calc(1860px / 2 - 65px * 1.5 / 2);
    top: calc(858px / 2 - -380px / 2);
  }
}
@media screen and (max-width: 1035px) {
  .nav.fixed_more .nav__list {
    height: auto;
  }
  .nav.fixed_more .nav__list_inner {
    height: 0;
  }
  .nav.fixed_more .nav__item {
    height: 75px;
  }
  .nav.fixed_more .nav__link {
    line-height: 75px;
  }
  .nav__navbar {
    display: block;
  }
  .nav ul {
    display: none;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .nav ul ul {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .nav ul ul-contact {
    left: 0;
  }
  .nav li {
    border-bottom: 3px solid #9ed24d;
  }
  .nav li:hover ul {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: auto;
    z-index: 1;
    width: 100%;
  }
  .nav li:last-child ul {
    left: 0;
  }
  .nav a {
    padding: 0;
  }
  .carousel .right-pos {
    margin-left: 212px;
  }
  .carousel .left-pos {
    margin-left: -212px;
  }
  .mCS-sq-bar.mCSB_scrollTools {
    right: 20.5px;
  }
  .mfp-close {
    right: 21px;
  }
  .popup {
    max-width: 880px;
  }
  .circle-small-wrapper {
    left: calc(100vw / 2 - 65px / 2);
  }
}
@media screen and (max-width: 1170px) {
  .land-card {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card_lands-left {
    margin-right: 0;
  }
  .about__article-bottom,
  .widget {
    padding: 100px;
  }
}
@media screen and (max-width: 768px) {
  .popup-close {
    display: block;
    right: 55px;
    top: 110px;
  }
  .popup-close a {
    color: #f00;
  }
  .btn__mobile_visible {
    display: block;
  }
  .btn__mobile_hidden {
    display: none;
  }
  .site-title_main {
    font-size: 100px;
  }
  .site-title_subtitle {
    font-size: 60px;
  }
  section#carousel {
    width: 600px;
    height: 355px;
  }
  section#carousel span {
    left: 215px;
    top: -14em;
  }
  section#carousel span #prev {
    right: 215px;
  }
  section#carousel span #next {
    left: 215px;
  }
  .carousel {
    height: 355px;
  }
  .carousel li {
    width: 600px;
    height: 355px;
  }
  .carousel .right-pos {
    margin-left: 0px;
  }
  .carousel .left-pos {
    margin-left: 0px;
  }
  .hause-card__title {
    margin-top: 20px;
  }
  .popup {
    max-width: 85vw;
  }
  .connected-carousels .stage {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0;
  }
  .connected-carousels .stage-aside {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .connected-carousels .stage-aside__list {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .btn__room-content {
    margin-top: 0;
    margin-left: 40px;
  }
  .room-content {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .carousel-popup .carousel-stage {
    margin: 0;
  }
  .connected-carousels .carousel-stage {
    margin: 0;
  }
  .connected-carousels .carousel-popup {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 450px;
    -ms-flex: 1 0 450px;
    flex: 1 0 450px;
  }
  .connected-carousels .carousel-popup img {
    width: 85vw;
  }
  .connected-carousels .next-stage {
    right: 0;
  }
  .map {
    width: 90%;
    height: 70vh;
    margin: auto;
  }
  .connected-carousels .next-stage,
  .connected-carousels .prev-stage {
    font-size: 40px;
  }
  .connected-carousels .prev-stage,
  .connected-carousels .next-stage {
    width: 100px;
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  .popup {
    max-width: 450px;
  }
  .btn__room-content {
    margin-top: 20px;
    margin-left: 0;
  }
  .connected-carousels .carousel-stage {
    height: auto;
  }
  .connected-carousels .stage-aside__list {
    padding: 0;
  }
  .connected-carousels .carousel-popup img {
    width: 450px;
  }
  .connected-carousels .carousel-popup {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
  }
  .connected-carousels .stage-aside {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .connected-carousels .navigation {
    display: none;
  }
  .connected-carousels .next-stage,
  .connected-carousels .prev-stage {
    font-size: 40px;
  }
  .connected-carousels .prev-stage,
  .connected-carousels .next-stage {
    width: 100px;
    height: 400px;
  }
  .marker {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .marker__marker {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .popup {
    max-width: 350px;
  }
  .popup th,
  .popup td {
    vertical-align: top !important;
  }
  .room-content__col {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 200px;
    -ms-flex: 1 0 200px;
    flex: 1 0 200px;
  }
  .connected-carousels .prev-navigation {
    left: 0;
    z-index: 1;
  }
  .connected-carousels .next-navigation {
    right: 0;
    z-index: 1;
  }
  .marker {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .btn__room-content {
    padding: 8px 20px;
  }
  .intro {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .nav {
    margin: 20px 0;
  }
  .circle {
    display: none;
  }
  .site-title_main {
    font-size: 70px;
  }
  .site-title_subtitle {
    font-size: 36px;
  }
  .site-title_subtitle-1,
  .site-title_subtitle-2 {
    display: none;
  }
  .description h3 {
    font-size: 20px;
  }
  .description p {
    font-size: 16px;
  }
  .section-text {
    font-size: 16px;
  }
  .section-title {
    font-size: 20px;
  }
  section#carousel {
    width: 340px;
    height: 240px;
  }
  section#carousel span {
    left: 125px;
    top: -9em;
  }
  section#carousel span #prev,
  section#carousel span #next {
    width: 43px;
    height: 46px;
  }
  section#carousel span #prev {
    right: 125px;
  }
  section#carousel span #next {
    left: 125px;
  }
  .carousel {
    height: 240px;
  }
  .carousel li {
    width: 340px;
    height: 240px;
  }
  .carousel .left-pos,
  .carousel .right-pos {
    display: none;
  }
  .dots {
    margin-top: -40px;
  }
  .land-card {
    padding: 0;
  }
  #lands {
    margin-top: 100px;
  }
  #cards {
    margin-top: 0;
  }
  .hause-card {
    padding: 0;
  }
  .hause-card__description {
    padding: 20px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
  }
  .hause-card__title {
    margin-bottom: 20px;
  }
  .hause-card__img {
    height: 290px;
  }
  .hause-card__img_wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
  }
  .card {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .card__title {
    padding: 20px 50px;
  }
  .card__container {
    width: 345px;
    height: 240px;
  }
  .about {
    margin: 0;
  }
  .about__article {
    padding: 20px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
  }
  .about__img {
    height: 270px;
  }
  .widget {
    padding: 20px;
    margin: 0;
  }
  .widget__text {
    padding: 0;
  }
  .widget__wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
  }
  .contact {
    padding: 10px;
  }
  .contact__info {
    padding: 10px 0;
  }
  .connected-carousels .carousel-popup img {
    width: 350px;
    height: 270px;
  }
  .connected-carousels .carousel-stage {
    height: 260px;
  }
  .connected-carousels .next-stage,
  .connected-carousels .prev-stage {
    color: #9ed24d;
  }
  .connected-carousels .next-stage,
  .connected-carousels .prev-stage {
    font-size: 40px;
  }
  .connected-carousels .prev-stage,
  .connected-carousels .next-stage {
    width: 100px;
    height: 260px;
  }
}
