.month
	.month__name August
	.month__calendar
		.month__row
			each dayWeek in ['S', 'M', 'D', 'M', 'D', 'F', 'S']
				if(dayWeek == 'S')
					.month__weekday.month__weekday_weekend= dayWeek
				else
					.month__weekday= dayWeek
		.month__row
			.month__weekday.month__weekday_weekend.discount  
			.month__weekday.discount 1
			.month__weekday.discount 2
			.month__weekday.discount 3
			.month__weekday.discount 4
			.month__weekday.discount 5
			.month__weekday.month__weekday_weekend.discount 6
		.month__row
			.month__weekday.month__weekday_weekend.discount 7
			.month__weekday.discount 8
			.month__weekday.discount 9
			.month__weekday.discount 10
			.month__weekday.discount 11
			.month__weekday.discount 12
			.month__weekday.month__weekday_weekend.discount 13
		.month__row
			.month__weekday.month__weekday_weekend.discount 14
			.month__weekday.discount 15
			.month__weekday.discount 16
			.month__weekday.discount 17
			.month__weekday.discount 18
			.month__weekday.discount 19
			.month__weekday.month__weekday_weekend.discount 20
		.month__row
			.month__weekday.month__weekday_weekend.discount 21
			.month__weekday.discount 22
			.month__weekday.discount 23
			.month__weekday.discount 24
			.month__weekday.discount 25
			.month__weekday.discount 26
			.month__weekday.month__weekday_weekend.discount 27
		.month__row
			.month__weekday.month__weekday_weekend.discount 28
			.month__weekday.discount 29
			.month__weekday.discount 30
			.month__weekday.discount 31
			.month__weekday.discount
			.month__weekday.discount
			.month__weekday.month__weekday_weekend.discount
		.month__row
			.month__weekday.month__weekday_weekend
			.month__weekday
			.month__weekday
			.month__weekday
			.month__weekday
			.month__weekday
			.month__weekday.month__weekday_weekend