.month
	.month__name Oktober
	.month__calendar
		.month__row
			each dayWeek in ['S', 'M', 'D', 'M', 'D', 'F', 'S']
				if(dayWeek == 'S')
					.month__weekday.month__weekday_weekend= dayWeek
				else
					.month__weekday= dayWeek
		.month__row
			.month__weekday.month__weekday_weekend
			.month__weekday
			.month__weekday
			.month__weekday
			.month__weekday
			.month__weekday
			.month__weekday.month__weekday_weekend 1
		.month__row
			.month__weekday.month__weekday_weekend.reserved 2
			.month__weekday.reserved 3
			.month__weekday.reserved 4
			.month__weekday 5
			.month__weekday 6
			.month__weekday.reserved 7
			.month__weekday.month__weekday_weekend.reserved 8
		.month__row
			.month__weekday.month__weekday_weekend 9
			.month__weekday 10
			.month__weekday 11
			.month__weekday 12
			.month__weekday 13
			.month__weekday 14
			.month__weekday.month__weekday_weekend 15
		.month__row
			.month__weekday.month__weekday_weekend 16
			.month__weekday 17
			.month__weekday 18
			.month__weekday 19
			.month__weekday 20
			.month__weekday 21
			.month__weekday.month__weekday_weekend 22
		.month__row
			.month__weekday.month__weekday_weekend 23
			.month__weekday 24
			.month__weekday 25
			.month__weekday 26
			.month__weekday 27
			.month__weekday 28
			.month__weekday.month__weekday_weekend 29
		.month__row
			.month__weekday.month__weekday_weekend 30
			.month__weekday 31
			.month__weekday
			.month__weekday
			.month__weekday
			.month__weekday
			.month__weekday.month__weekday_weekend