.price-table
	table
		caption.section-title.section-title_popup Unsere preise
		thead
			th Zeitraum:
			th Ferienhause:
			th Wohnungen 1-3:
			th Zweier-Appartment:
		tbody.section-text
			tr
				td Nacht
				td xxx
				td xxx
				td xxx
			tr
				td 2 - XX Nächte
				td xxx
				td xxx
				td xxx
			tr
				td(colspan='4') Kürzere bzw. längere Mietzeiten, Unter- oder Überbelegungen / Aufbettungen und andere Besonderheiten bitte anfragen.
			tr
				td Angebot:
				td(colspan='3') Ein Wochenende Ferienhaus komplett und Partyscheune sowie Außenanlagen für 750 €.
			tr
				td(colspan='4') Alle Preise verstehen sich als Richtpreise inklusive Kurtaxe, Endreinigung sowie Betriebskosten und Nutzung der großzügigen Außenanlagen. Bitte die verbindlichen Preise für den gewünschten Zeitraum, insbesondere zu Feiertagen bzw. regionalen Saisonhöhepunkten anfragen. Für Nutzung der Partyscheune werden ein Festpreis und die verbrauchten Betriebskosten (Strom und Wasser) gesondert in Rechnung gestellt