.wrapper
	#toTop
	include ./parts/intro.jade
	include ./parts/nav.jade
	include ./parts/carousel.jade
	include ./parts/lands.jade
	include ./parts/about.jade
	include ./parts/footer.jade
	include ./parts/popup-carousel.jade
	include ./parts/popup-carousel-lands.jade
	a.btn__to-top(href="#toTop")