section#about
	.about#anfahrt_und_ueber_uns
		.description
			h3.section-title.wow.fadeInDown(data-wow-delay='0.6s') Anfahrt und ueber uns
		.about__box
			.about__img-wrapper
				img.about__img.about__img-top.wow.fadeInLeft(src="img/ppl1.jpg", alt="")
			.about__article.about__article-top.wow.fadeInRight
				h3.about__title Ihre Gastgeber: Familie Spantig
				p.about__text Lassen Sie sich entführen ins kleinste Mittelgebirge Deutschlands, einen Ort voller Mythen und Sagen in Mitten unberührter und urtümlicher Landschaft.
				p.about__text Entdecken Sie einen Schmelztiegel der Kulturen, wo Völkerverständigung über Jahrhunderte
		.about__box
			.about__article.about__article-bottom.wow.fadeInLeft
				h3.about__title Anfahrt
				p.about__text Wenn Sie von Zittau Richtung Hartau (Dreiländerpunkt) abbiegen finden Sie auf der linken Seite nach 1,5 km unser Ferienhaus. Direkt am Abzweig der Straße begrüßt Sie das untenstehende Schild:
			.about__img-wrapper
				img.about__img.about__img-bottom.wow.fadeInRight(src="img/desk1.jpg", alt="")