.intro
	a.wow.fadeInDown.circle-small-wrapper(href="#gallery",data-wow-delay='0.4s'): i.circle-small-arrow
	.circle
		.circle-big
		.circle-medium
		.circle-small
	header.site-header.wow.fadeIn(data-wow-duration='1s')
		hgroup.site-branding
			h1.site-title.site-title_main Ferienhous
			h2.site-title.site-title_subtitle Dreiländerpunkt
			h3.site-title.site-title_subtitle-1 mit Partyscheune und 4500m² Gartenanlage
			h4.site-title.site-title_subtitle-2 4 Ferienwohnungen mit 7 Schlafzimmer und insgesamt 14 Betten