#lands
	.lands#ferienhaus
		.hause-card
			.hause-card__img_wrapper
				img.wow.fadeInLeft(src="img/cards/img1.jpg", alt="img1.jpg").hause-card__img
			.hause-card__description.wow.fadeInRight
				h3.hause-card__title.section-title Das Ferienhaus
				p.section-text Lassen Sie sich entführen ins kleinste Mittelgebirge Deutschlands, einen Ort voller Mythen und Sagen in Mitten unberührter und urtümlicher Landschaft. Entdecken Sie einen Schmelztiegel der Kulturen, wo Völkerverständigung über Jahrhunderte Grundlage des Wohlstandes war. Unsere alte Ziegelei als umfunktioniertes Industrieobjekt verkörpert die Seele dieser unbekannten Kulturlandschaft wie kaum ein Zweites.
		include cards.jade
		.land-card
			#gartenanlage.card.card_lands.card_lands-left.wow.fadeInLeft
				.card__container.card__container_lands-left
					.card__front.card__front_lands
						img(src='../img/cards/img2.jpg', alt="img2.jpg")
						h3.card__title
							span.card__title-text.card__title-text_lands Gartenangle
							a(href="#popupCarouselLands").btn.btn_popupCarouselLands Ansehen und erleben
			#partyscheune.card.card_lands.card_lands-right.wow.fadeInRight
				.card__container.card__container_lands-right
					.card__front.card__front_lands
						img(src='../img/cards/img3.jpg', alt="img3.jpg")
						h3.card__title
							span.card__title-text.card__title-text_lands Partyscheune
							a(href="#popupCarouselLands").btn.btn_popupCarouselLands Ansehen und erleben